/* Police type Raleway demandé pour l'ensemble du site,
   Couleur de la charte bleu #0065FC,
   Bleu claire #DEEBFF,
   Couleur des fonts #F2F2F2
*/

/*************** Paramètres généraux **************/
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
}
ul li {
  list-style-type: none;
}
h1 {
  margin-top: 50px;
  font-size: 28px;
  font-weight: 900;
}
p {
  line-height: 35px;
}
/*** Barre de recherche ***/
h1,
p,
.research {
  margin-left: 20px;
}
.research {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 30px;
  border-radius: 10px;
  height: 50px;
}
.research i,
.research input,
.research a {
  position: relative;
  height: 100%;
}
.research i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  padding: 15px;
  background-color: #f2f2f2;
  margin-right: -1px;
  border-radius: 10px 0 0 10px;
  border: 2px solid #f2f2f2;
}
.research i,
.research a {
  z-index: 1;
}
.research input {
  padding-left: 10px;
  border: 1px solid #f2f2f2;
  width: 200px;
}
.research a {
  position: relative;
  display: inline-block;
  color: #fff;
  background-color: #0065fc;
  margin-left: -1px;
  padding: 14px;
  border-radius: 0 10px 10px 0;
}
/*** Barre des filtres ***/
.filtres {
  display: block;
  position: relative;
  margin-top: 40px;
}
.fa-ul {
}
.filtre {
  margin-left: 0;
  padding-left: 0;
}
.info {
  display: none;
}
/*.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
  align-items: flex-start;
}

/************** Paramètres version desktop a 992 px ****************/
@media only screen and (min-width: 992px) {
}
/************** Paramètres version tablette a 768 px **************/
@media only screen and (min-width: 768px) {
  /************* HEADER && NAVBAR *************/
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
  }
  header .navBar {
    display: flex;
    align-items: flex-end;
    justify-content: right;
  }
  header .navBar ul {
    display: flex;
  }
  ul {
    margin-right: 30px;
  }
  header .navBar ul li {
    list-style-type: none;
    text-transform: capitalize;
    padding: 30px;
  }
  header .navBar ul li a {
    padding: 10px;
  }
  header .navBar ul li a:hover {
    border-top: 2px solid #0065fc;
    color: #0065fc;
  }
  /*.hebergements,
  .populaires {
    display: flex;
  }
  .card {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 30px;
  }*/
}
/************** Paramètres version mobiles ***************/
@media only screen and (max-width: 768px) {
  header .logo img {
    width: 100px;
  }
}
