/* Police type Raleway demandé pour l'ensemble du site,
   Couleur de la charte bleu #0065FC,
   Bleu claire #DEEBFF,
   Couleur des fonts #F2F2F2
   Version desktop a 992 px
   Version tablette a 768 px
/*************** Paramètres généraux **************/
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
main {
  padding: 0px 20px;
  width: 100%;
  /*border: 1px solid red;*/
}
a {
  text-decoration: none;
  color: #000;
}
ul li {
  list-style-type: none;
}
h1 {
  margin-top: 30px;
  font-size: 22px;
  font-weight: 900;
}
h2 {
  width: 90%;
  display: inline-block;
  font-size: 20px;
}
h3 {
  font-size: 13px;
}
.bold {
  font-weight: bold;
}
.blue {
  color: #0065fc;
}
.gray {
  color: #f2f2f2;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.object_cover {
  object-fit: cover;
}
.boxShadowDark {
  box-shadow: 0.5px 0.5px 10px 0.5px #e0e0e0, -0.5px -0.5px 10px 0.5px #e0e0e0;
}
.boxShadow {
  box-shadow: 0.5px 0.5px 10px 0.5px #f2f2f2, -0.5px -0.5px 10px 0.5px #f2f2f2;
}
/************* HEADER && NAVBAR *************/
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
}
header .logo {
  width: 200px;
  padding-top: 30px;
  padding-left: 20px;
}
header .logo img {
  width: 100px;
}
header .list {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  padding-right: 30px;
}
header .list li {
  padding-top: 25px;
}
header .list li a {
  text-transform: capitalize;
  margin-left: 30px;
  padding-top: 22px;
}
header .navBar ul li a:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}
/*** Barre de recherche ***/
.research {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  height: 40px;
}
.listResearch {
  display: flex;
  height: 40px;
  padding: 0;
}
.listResearch :first-child {
  display: flex;
  font-size: 22px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
  border: 2px solid #f2f2f2;
  height: 40px;
  transform: translateX(2px);
}
.listResearch :nth-child(2) {
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #f2f2f2;
  width: 270px;
  height: 40px;
  padding-left: 10px;
}
.listResearch .over {
  display: flex;
  align-items: baseline;
  font-size: 18px;
  color: #fff;
  background-color: #0065fc;
  padding: 10px 10px;
  margin-left: -2px;
  border-radius: 0 10px 10px 0;
  font-weight: 500;
}
.listResearch .overFlow {
  display: none;
}
/*** Barre des filtres ***/
.rowFiltres {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
  width: 70%;
}
.rowFiltres ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  margin-left: 5px;
}
.rowFiltres ul .titleFiltre {
  border: none;
}
.rowFiltres ul .titleFiltre:hover {
  background-color: #fff;
  cursor: default;
}
.rowFiltres ul li {
  display: flex;
  align-items: center;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  cursor: pointer;
}
.rowFiltres ul li span {
  padding-right: 10px;
}
.rowFiltres ul li i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: #deebff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transform: translateX(-3px);
  color: #0065fc;
}
.rowFiltres li:hover {
  background-color: #deebff;
  transition: 0.3s ease;
}
.info {
  margin-top: 30px;
}
.iconInfo {
  display: flex;
  align-items: center;
}
.info i {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f2f2f2;
  background-color: transparent;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #0065fc;
  margin-right: 10px;
}
/*** Hébergements à Marseille ***/
.main {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.hebergements,
.populaires {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 0px 20px;
}
.imgMarseille,
.imgPopulaireMarseille {
  background-color: #fff;
  padding: 5px;
  border-radius: 15px;
}
.hebergements {
  width: 68%;
  display: flex;
  flex-flow: row wrap;
}
.rowHebergements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.imgMarseille {
  width: 31%;
  height: 170px;
  margin-bottom: 20px;
}
.hebergements .imgMarseille img {
  height: 90px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.imgMarseille h3,
.imgPopulaireMarseille h3 {
  margin-top: 5px;
  margin-bottom: 0;
}
.imgMarseille p,
.imgPopulaireMarseille p {
  margin: 0;
  font-size: 12px;
}
.imgMarseille ul,
.imgPopulaireMarseille ul {
  display: flex;
  padding: 0;
}
.imgMarseille ul li,
.imgPopulaireMarseille ul li {
  font-size: 10px;
}
.imgMarseille ul li i,
.imgPopulaireMarseille ul li i {
  margin-left: 2px;
}
.hebergements a {
  padding-bottom: 20px;
}
/*** Aside populaires ***/
.populaires {
  width: 30%;
}
.aside {
  width: 100%;
}
.flexEnd {
  display: flex;
  align-items: flex-end;
}
.populaires h2 i {
  float: right;
  display: block;
}
.populaires .spaceBeetwen {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imgPopulaireMarseille {
  display: flex;
  width: 100%;
  height: 31%;
  margin-bottom: 20px;
}
.imgPopulaireMarseille img {
  width: 40%;
  height: 105px;
  border-radius: 10px 0 0 10px;
}
.imgPopulaireMarseille .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 5px;
}
.column p {
  padding-top: 5px;
  flex: 1;
}
/*** Section activités a marseille ***/
.activites {
  width: 100%;
  height: 450px;
  margin-top: 20px;
}
.rowActivites {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 380px;
}
.rowActivites .img_1,
.rowActivites .column_2,
.rowActivites .img_4,
.rowActivites .column_4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23%;
  height: 380px;
}
.rowActivites .img_2,
.rowActivites .img_3,
.rowActivites .img_5,
.rowActivites .img_6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rowActivites .img_1,
.rowActivites .img_2,
.rowActivites .img_3,
.rowActivites .img_4,
.rowActivites .img_5,
.rowActivites .img_6 {
  border-radius: 20px;
  box-shadow: 0.5px 0.5px 10px 0.5px #f2f2f2, -0.5px -0.5px 10px 0.5px #f2f2f2;
}
.rowActivites .img_1 img,
.rowActivites .img_4 img {
  height: 340px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.rowActivites .img_2 {
  height: 210px;
}
.rowActivites .img_2 img {
  width: 100%;
  height: 170px;
}
.rowActivites .img_3 {
  width: 100%;
  margin-top: 30px;
}
.rowActivites .img_3 img {
  width: 100%;
  height: 100px;
}
.rowActivites .img_5 {
  height: 160px;
  width: 100%;
}
.rowActivites .img_5 img {
  width: 100%;
  height: 120px;
}
.rowActivites .img_6 {
  height: 190px;
  margin-top: 30px;
}
.rowActivites .img_6 img {
  width: 100%;
  height: 150px;
}
.rowActivites .img_2 img,
.rowActivites .img_3 img,
.rowActivites .img_5 img,
.rowActivites .img_6 img {
  border-radius: 20px 20px 0 0;
}
.rowActivites h3 {
  margin-left: 15px;
}
.rowActivites .img_1 h3,
.rowActivites .img_3 h3 {
  margin: 10px 20px 15px;
}
/*** FOOTER ***/
footer {
  background-color: #f2f2f2;
  margin-top: 40px;
  width: 100%;
}
.largeur {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
footer ul {
  width: 250px;
  padding-left: 20px;
}
footer ul li {
  line-height: 30px;
}
footer ul .bold {
  font-size: 16px;
}
footer :nth-child(1) {
  padding-top: 10px;
}
footer :nth-child(2) {
  display: flex;
}
/************** Paramètres version mobile ***************/
@media all and (max-width: 767px) {
  main {
    padding: 0;
    width: 100%;
  }
  /************* HEADER && NAVBAR *************/
  header .logo {
    padding-top: 30px;
    padding-left: 20px;
    width: 100%;
  }
  header .logo img {
    position: relative;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
  }
  header .navBar {
    padding: 0;
    width: 100%;
  }
  header .navBar .responsive {
    padding: 0;
  }
  header .responsive li {
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
  }
  .navBar .responsive .activeBlue {
    border-bottom: 2px solid #0065fc;
  }
  .navBar .responsive .activeBlue a {
    color: #0065fc;
  }
  .navBar .responsive .gray {
    border-bottom: 2px solid #f2f2f2;
  }
  /*** Barre de recherche ***/
  .search {
    padding: 0px 10px;
    width: 100%;
  }
  .research {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    height: 40px;
    width: 90%;
  }
  .listResearch {
    display: flex;
    height: 40px;
    padding: 0;
  }
  .listResearch i {
    vertical-align: bottom;
  }
  #recherche {
    width: 250px;
  }
  .listResearch input::placeholder {
    font-weight: 700;
  }
  .listResearch .over {
    display: none;
  }
  .listResearch .overFlow {
    display: flex;
  }
  .listResearch .overFlow i {
    font-size: 18px;
    color: #fff;
    height: 40px;
    background-color: #0065fc;
    margin-left: -8px;
    border-radius: 10px 10px 10px 10px;
    border: none;
  }
  /*** Barre des filtres ***/
  .rowFiltres {
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
    width: 100%;
  }
  .titleFiltre {
    width: 100%;
    margin-bottom: 10px;
  }
  .rowFiltres ul {
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }
  .rowFiltres ul li {
    margin: 0px 40px 10px 0px;
  }
  .info {
    margin: 0;
    font-size: 14px;
  }
  .info span {
    display: flex;
    align-items: baseline;
  }
  .iconInfo i {
    padding: 8px;
  }
  /*** Hébergements à Marseille && activités à Marseille ***/
  .main {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 40px;
  }
  .hebergements,
  .populaires,
  .activites {
    padding: 0px 20px;
    width: 100%;
    height: 100%;
  }
  .populaires {
    background-color: #f2f2f2;
    border-radius: 0px 0px;
    width: 100%;
  }
  .imgPopulaireMarseille {
    width: 100%;
  }
  .imgPopulaireMarseille img {
    width: 130px;
    height: 120px;
  }
  .imgPopulaireMarseille .column ul {
    margin-bottom: 8px;
  }
  .hebergements {
    background-color: #fff;
    width: 99%;
    margin-top: 15px;
  }
  .hebergements a {
    margin-top: 15px;
  }
  .rowHebergements,
  .rowActivites {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .imgMarseille {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .hebergements .imgMarseille img {
    height: 110px;
    width: 100%;
  }
  .imgMarseille p {
    margin-top: 5px;
  }
  .imgMarseille p,
  .imgMarseille h3,
  .imgMarseille ul {
    margin-left: 10px;
  }
  .imgMarseille ul {
    margin-top: 5px;
  }
  .activites {
    height: 100%;
  }
  .activites h2,
  .activites {
    margin-top: 5px;
  }
  .activites {
    justify-content: space-between;
  }
  .rowActivites .img_1,
  .rowActivites .img_4 {
    width: 100%;
    height: 170px;
    margin-bottom: 20px;
  }
  .rowActivites .column_2,
  .rowActivites .column_4 {
    width: 100%;
    height: 360px;
  }
  .rowActivites .img_2,
  .rowActivites .img_3,
  .rowActivites .img_5,
  .rowActivites .img_6 {
    width: 100%;
    height: 170px;
  }
  .rowActivites .img_3 {
    margin-top: 0px;
  }
  .rowActivites .img_1 img,
  .rowActivites .img_2 img,
  .rowActivites .img_3 img,
  .rowActivites .img_4 img,
  .rowActivites .img_5 img,
  .rowActivites .img_6 img {
    height: 130px;
    width: 100%;
  }
  .rowActivites .img_4 {
    margin-top: 20px;
  }
  .rowActivites .img_6 {
    margin-top: 0px;
  }
  .rowActivites h3 {
    margin-top: 10px;
  }
  /*** FOOTER ***/
  .largeur {
    display: flex;
    flex-direction: column;
  }
  footer ul {
    width: 250px;
    padding-left: 20px;
  }
  footer ul li {
    line-height: 24px;
  }
  footer ul .bold {
    font-size: 16px;
  }
  footer :nth-child(1) {
    padding-top: 10px;
  }
  footer :nth-child(2) {
    display: flex;
  }
}
/*** Version tablette ***/
@media all and (min-width: 768px) and (max-width: 991px) {
  .rowFiltres ul li {
    margin: 0px 15px 10px 0px;
  }
  .hebergements {
    width: 57%;
  }
  .imgMarseille {
    width: 48%;
  }
  .populaires {
    width: 40%;
  }
  .imgPopulaireMarseille {
    flex-direction: column;
    height: 190px;
  }
  .imgPopulaireMarseille img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
  .activites {
    height: 100%;
  }
  .rowActivites {
    flex-wrap: wrap;
    height: 100%;
  }
  .rowActivites .img_1,
  .rowActivites .column_2,
  .rowActivites .img_4,
  .rowActivites .column_4 {
    width: 48%;
    height: 400px;
  }
  .rowActivites .img_1 img,
  .rowActivites .img_4 img {
    height: 360px;
  }
  .rowActivites .column_2,
  .rowActivites .column_4 {
    justify-content: space-between;
  }
  .rowActivites .column_2 .img_2 {
    height: 210px;
  }
  .rowActivites .column_2 .img_2 img {
    height: 165px;
  }
  .rowActivites .column_2 .img_3 {
    height: 160px;
  }
  .rowActivites .column_2 .img_3 img {
    height: 120px;
  }
  .rowActivites .column_4 .img_5 {
    height: 170px;
  }
  .rowActivites .column_4 .img_5 img {
    height: 125px;
  }
  .rowActivites .column_4 .img_6 {
    height: 200px;
  }
  .rowActivites .column_4 .img_6 img {
    height: 155px;
  }
  .rowActivites .img_4 {
    order: 4;
  }
  .rowActivites .img_4 img {
    height: 355px;
  }
  .rowActivites .column_4,
  .rowActivites .img_4 {
    margin-top: 20px;
  }
  footer .footerPropos {
    padding: 0px;
  }
  footer ul li {
    font-size: 15px;
  }
}
