/* Police type Raleway demandé pour l'ensemble du site,
   Couleur de la charte bleu #0065FC,
   Bleu claire #DEEBFF,
   Couleur des fonts #F2F2F2
   Version desktop a 992 px
   Version tablette a 768 px
/*************** Paramètres généraux **************/
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
main {
  padding: 0px 20px;
  width: 100%;
  /*border: 1px solid red;*/
}
a {
  text-decoration: none;
  color: #000;
}
ul li {
  list-style-type: none;
}
h1 {
  margin-top: 30px;
  font-size: 22px;
  font-weight: 900;
}
h2 {
  width: 90%;
  display: inline-block;
  font-size: 20px;
}
h3 {
  font-size: 14px;
}
.bold {
  font-weight: bold;
}
.blue {
  color: #0065fc;
}
.gray {
  color: #f2f2f2;
}
/************* HEADER && NAVBAR *************/
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
}
header .logo {
  width: 200px;
  padding-top: 30px;
  padding-left: 20px;
}
header .logo img {
  width: 100px;
}
header .list {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  padding-right: 30px;
}
header .list li {
  padding-top: 20px;
}
header .list li a {
  text-transform: capitalize;
  margin-left: 20px;
  padding-top: 18px;
}
header .navBar ul li a:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}
/*** Barre de recherche ***/
.research {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  height: 40px;
}
.listResearch {
  display: flex;
  height: 40px;
  padding: 0;
}
.listResearch li i {
  display: flex;
  align-items: baseline;
  font-size: 22px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
  border: 2px solid #f2f2f2;
  height: 40px;
  transform: translateX(2px);
}
.listResearch li input {
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #f2f2f2;
  width: 270px;
  height: 40px;
  padding-left: 10px;
}
.listResearch .over a {
  display: flex;
  align-items: baseline;
  font-size: 18px;
  color: #fff;
  background-color: #0065fc;
  padding: 10px;
  margin-left: -2px;
  border-radius: 0 10px 10px 0;
  font-weight: 500;
}
.listResearch .overFlow {
  display: none;
}
/*** Barre des filtres ***/
.rowFiltres {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
  width: 73%;
  height: 44px;
}
.rowFiltres ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  width: 100%;
}
.rowFiltres ul :first-child {
  border: none;
}
.rowFiltres ul li {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  cursor: pointer;
}
.rowFiltres ul li span {
  padding-right: 10px;
}
.rowFiltres ul li i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: #deebff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transform: translateX(-3px);
  color: #0065fc;
  transition: 0.3s ease;
}
.info {
  margin-top: 30px;
}
.iconInfo {
  display: flex;
  align-items: center;
}
.info i {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #474646;
  background-color: transparent;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #0065fc;
  margin-right: 10px;
}
/*** Hébergements à Marseille ***/
.main {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.hebergements,
.populaires {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 0px 20px;
}
.imgMarseille,
.imgPopulaireMarseille {
  background-color: #fff;
  padding: 5px;
  border-radius: 15px;
}
.hebergements {
  width: 68%;
  display: flex;
  flex-flow: row wrap;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.imgMarseille {
  width: 31%;
  height: 170px;
  margin-bottom: 20px;
}
.hebergements .imgMarseille img {
  height: 90px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
.imgMarseille h3,
.imgPopulaireMarseille h3 {
  margin-top: 5px;
  margin-bottom: 0;
}
.imgMarseille p,
.imgPopulaireMarseille p {
  margin: 0;
  font-size: 12px;
}
.imgMarseille ul,
.imgPopulaireMarseille ul {
  display: flex;
  padding: 0;
}
.imgMarseille ul li,
.imgPopulaireMarseille ul li {
  font-size: 10px;
}
.imgMarseille ul li i,
.imgPopulaireMarseille ul li i {
  margin-left: 2px;
}
.hebergements a {
  padding-bottom: 20px;
}
/*** Aside populaires ***/
.populaires {
  width: 30%;
}
.aside {
  width: 100%;
}
.flexEnd {
  display: flex;
  align-items: flex-end;
}
.populaires h2 i {
  float: right;
  display: block;
}
.imgPopulaireMarseille {
  display: flex;
  width: 100%;
  height: 32%;
  margin-bottom: 20px;
}
.imgPopulaireMarseille img {
  width: 100px;
  height: 105px;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
}
.imgPopulaireMarseille .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 5px;
}
.column p {
  padding-top: 5px;
  flex: 1;
}
/*** Section activités a marseille ***/
.activites {
  width: 100%;
  height: 420px;
  margin-top: 20px;
}
.rowActivites {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  height: 380px;
}
.rowActivites .child_1,
.rowActivites .child_2,
.rowActivites .child_3,
.rowActivites .child_4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23%;
  height: 380px;
}
.rowActivites .card {
  border-radius: 20px;
  box-shadow: 0px 0px 0px 1px #f2f2f2;
  height: 100%;
}
.rowActivites .card img {
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.rowActivites .child_1 img,
.rowActivites .child_3 img {
  height: 340px;
  object-position: 45% bottom;
}
.rowActivites .child_2,
.rowActivites .child_4 {
  height: 380px;
}
.rowActivites .child_2 :first-child {
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rowActivites .child_2 :last-child {
  height: 145px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rowActivites .child_4 :first-child {
  height: 180px;
  display: flex;
  flex-direction: column;
}
.rowActivites .child_4 :last-child {
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rowActivites .child_2 :first-child img {
  height: 170px;
}
.rowActivites .child_2 :last-child img {
  height: 68%;
}
.rowActivites .child_4 :first-child img {
  height: 70%;
}
.rowActivites .child_4 :last-child img {
  height: 74%;
}
.gap {
  margin-top: 30px;
}
.rowActivites h3 {
  margin-left: 20px;
}
.rowActivites .child_1 h3,
.rowActivites .child_3 h3 {
  margin: 10px 20px 15px;
}
/*** FOOTER ***/
footer {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  margin-top: 40px;
}
footer ul {
  width: 250px;
  padding-left: 20px;
}
footer ul li {
  line-height: 24px;
}
footer ul .bold {
  font-size: 16px;
}
footer :nth-child(1) {
  padding-top: 10px;
}
footer :nth-child(2) {
  display: flex;
}
/************** Paramètres version mobile ***************/
@media all and (max-width: 768px) {
}
